
.formControl.error input,
.formControl.error textarea {
    border: red solid 2px ;
}

.formControl.error span {
    color: red;
}

.formSommaryError {
    border: red;
    padding: 5px;
    color: red;
}