.app-wrapper {
  display: grid;
  width: 1200px;
  grid-template-columns: 150px minmax(100px, auto);
  grid-template-rows: 70px auto;
  grid-gap: 5px;
  margin: auto;
}

.app-wrapper-content {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: cornflowerblue;
}